nav {
    padding: 16px 8vw;
    display: grid;
    grid-auto-flow: column;
    /* background-color: aliceblue; */
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.tabs {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
}

.logo img {
    width: 140px;
}

.logo {
    width: 100%;
    align-self: end;
}

/* .tabs> :first-child a{
    text-decoration: none;
    color: #3075C4;
} */

.tab-link a{
    text-decoration: none;
    color: black;
}

.button a {
    color: white;
}

.button button {
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    background-color: #3075C4;
    color: white;
}

#hamburgerButton {
    display: none;
}

#jumbotron {
    padding: 8vw;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 40px;
}

.hero-text {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    align-self: center;
    row-gap: 8px;
}

.hero-image {
    width: 100%;
}

.hero-image img {
    width: 500px;
}

.hero-text h1 {
    color: black;
    /* color: #3075C4; */
    font-size: clamp(1rem, 3.2vw, 3rem);
    width: 500px;
    letter-spacing: 0.5px;
}

.blue-text {
    color: #3075C4;
}

.hero-text h2 {
    color: #666666;
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 2rem);
    letter-spacing: 1px;
    width: 380px;
    margin-bottom: 40px;
}

.button-hero {
    width: 100%;
    display: flex;
    gap: 24px;
}

.test {
    border: none;
    background-color: #3075C4;
    padding: 16px 44px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.demo {
    display: flex;
    background-color: transparent;
    padding: 16px 20px;
    color: #3075C4;
    cursor: pointer;
    align-items: center;
}

.fa-chevron-right {
    margin-left: 12px;
}

div#banner {
    padding: 5vw 0;
    display: grid;
    row-gap: 20px;
    text-align: center;
}

#banner h1 {
    font-size: 28px;
}

.brand {
    background-color: #F9F9F9;
}

.brand-image {
    width: 100%;
    display: flex;
    padding: 32px 8vw;
    justify-content: space-evenly;
}

.brand-image img {
    width: 80px;
    height: 42px;
}

.our-service {
    padding: 5vw 8vw;
}

.title-section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title-section h1 {
    font-size: clamp(1rem, 4vw, 2rem);
    letter-spacing: 0.5px;
}

.title-section h2 {
    color: #666666;
    font-size: clamp(0.7rem, 1vw, 2rem);
    line-height: 16px;
    width: 100%;
    padding: 0 19vw;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.service-row-1 {
    display: flex;
    justify-content: space-around;
    padding: 8vw 0;
}

.reverse-row {
    flex-direction: row-reverse;
}

.service-row-1 img {
    width: 440px;
}

.service-content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.service {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}

.service img {
    width: 36px;
}

.title-service h2 {
    color: #666666;
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-weight: 400;
    margin-top: 8px;
}

.title-service h1 {
    font-size: 30px;
    line-height: 36px;
}

.content h1 {
    font-size: 20px;
}

.content h2 {
    color: #666666;
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-weight: 400;
    /* margin-top: 4px; */
}

.pricing {
    padding: 0vw 8vw;
}

.pricing-plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 36px;
    margin-top: 60px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    row-gap: 20px;
    padding: 20px 36px;
}

.pricing-title {
    text-align: center;
}

.pricing-title h3 {
    font-size: 12px;
    color: #666666;
    font-weight: 300;
    margin-bottom: 12px;
    line-height: 16px;
}

.pricing-title h2 {
    font-weight: 400;
}

.pricing-title h1 {
    font-size: 36px;
    font-weight: 600;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.pricing-items {
    display: flex;
    column-gap: 12px;
    align-items: flex-start;
}

.pricing-items img {
    width: 20px;
}

.pricing-items p {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.pricing-button {
    text-align: center;
    background-color: #3075C4;
    color: white;
    padding: 16px;
    margin-top: 20px;
    border-radius: 6px;
}

.pricing-button h1 {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    cursor: pointer;
}

.blog {
    padding: 10vw 8vw 4vw;
}

.latest-blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
    margin-top: 60px;
}

.main-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
}

.main-blog img {
    width: inherit;
}

.main-blog h1 {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.main-blog h2 {
    font-size: 14px;
    font-weight: 300;
}

.more {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.more a {
    text-decoration: none;
}

.more p {
    color: #666666;
    font-size: 14px;
    align-self: flex-end;
    display: none;
}

.article {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: fit-content;
    column-gap: 16px;
}

.article img {
    width: 220px;
}

.helper-blog {
    display: grid;
    row-gap: 28px;
    height: fit-content;
    cursor: pointer;
}

.caption p {
    color: #666666;
    font-size: 14px;
}

.caption h1 {
    font-size: 20px;
    font-weight: 600;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caption a {
    font-size: 14px;
    text-decoration: none;
}

.input-email{
    padding: 6vw 8vw 0;
    text-align: center;
    z-index: 999;
}

.input-email h1{
    margin-bottom: 20px;
    line-height: 32px;
}

input[type="email"] {
    width: 500px;
    height: 20px;
    border-radius: 34px;
    border: 2px solid #3075C4;
    padding: 28px;
  }

  input[type="button"] {
    margin-left: -134px;
    background: #3075C4;
    color: white;
    border: 0;
    -webkit-appearance: none;
    padding: 16px 32px;
    border-radius: 28px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  footer {
    background-color: #F2F2F2;
    z-index: 0;
    margin-top: -28px;
}

.footer {
    padding: 10vw 8vw;
    display: grid;
    grid-auto-flow: column;
}

.logo-footer img {
    width: 160px;
}

.etc {
    display: flex;
    grid-gap: 24px;
    flex-direction: column;
}

.etc a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 14px;
}

h1.subtitle {
    font-size: 20px;
}

.copyright {
    padding: 2vw 8vw;
    text-align: center;
}

/*
|||||||||| HOVER AND ANIMATION EFFECT |||||||||
*/

.button button:hover{
    background-color: #1458a5;
}

.button button a:hover{
    color: white;
}

.test:hover{
    background-color: #1458a5;
    transition: all 0.5s;
}

input[type="button"]:hover{
    /* background-color: #3075C4; */
    background-color: #043164;
    transition: 0.3s ease-in-out;
}

.pricing-card:hover {
    background-image: linear-gradient( #589AE5 20%, #3075C4);
    animation: gradient 2s ;
    /* opacity: 1; */
    /* transition: opacity 1s; */
}

.pricing-card:hover>.pricing-title>* {
    color: white;
}

.pricing-card:hover>.pricing-button {
    background-color: white;
    color: #3075C4;
}

.pricing-card:hover>.pricing-content{
    color: white;
}

.main-blog h1:hover{
    color: #3075C4;
}

.helper-blog h1:hover{
    color: #3075C4;
}

.tab-link a:hover{
    color: #3075C4;
    font-weight: 500;
}

.demo:hover> .fa-chevron-right{
    transform: translateX(8px);
}

.fa-chevron-right{
    animation: move 6s;
    transition: all 0.5s;
}

@keyframes gradient{
    0%{opacity: 0.5}
    100%{opacity: 2.0}
}

@keyframes move {
    0% {
        transform: translateX(0);
        transition: all 2s;
    }

    25% {
        transform: translateX(12px);
        transition: all 2s;
    }

    50% {
        transform: translateX(0);
        transition: all 2s;
    }

    75% {
        transform: translateX(12px);
        transition: all 2s;
    }

    100% {
        transform: translateX(0);
        transition: all 2s;
    }
}

main.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 140px 100px 20px;
}

.login img {
    width: 500px;
}

input#fname {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: lightblue;
    font-size: 20px;
}

main.profiles {
    padding: 120px;
}

.profiles h1 {
    margin-bottom: 20px;
}

.profiles p {
    line-height: 24px;
}